#status-select {
    width: 70px;
    margin-left: 10px;
    color: white;
    font-size: 17px;
    font-family: 'Varela Round', sans-serif;
}

input {
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    width: 265px;
}